<div class="wrapper">

    <main class="main-text"><span class="first-letter">T</span>he United States health system is one of the most complicated in the world. Simply, the cost of a medical procedure can not only drastically vary in cost from state to state, but from hospital to hospital, even in a single community. For example, in Alabama, an EMT can decide to drive you to one hospital where a coronary bypass will cost you six times as much as a nearby hospital, potentially costing an extra $431,970.23.</main>

    <aside class="minmax-wrapper">
        <canvas id="min-max"></canvas>
    </aside>

    <section class="button-wrapper">
        {{#each names}}
        <button class="tab-btn proc-btn" id="defaultOpen" data-id="{{this.procedureId}}" data-name="{{this.procedureName}}" data-desc="{{this.procedureDescription}}">{{this.procedureName}}</button> {{/each}}
    </section>

    <header id="map-header"></header>

    <section class="map-style" id="map-div"></section>
    <button class="nav-btn" id="down-btn"><i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i></button>

    <section class="region-wrapper">
        <canvas class="region-style" id="region-div"></canvas>
    </section>
    <button class="nav-btn" id="up-btn"><i class="fa fa-arrow-up fa-4x" aria-hidden="true"></i></button>


</div>
