@import url('https://fonts.googleapis.com/css?family=Asset|Barlow|Berkshire+Swash|Pacifico|Roboto');

body {
    font-family: 'roboto', sans-serif;
    background-image: url("/assets/img/tiny_grid.png");
    min-width: 936px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows:
}

#main-header {
    margin-bottom: 1.5em;
    grid-column: 1/7;
    display: grid;
    grid: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 1px #f0f0f0;
    box-shadow: 1px 1px 1px #eee;
    background-color: #fbfbfb;

}

#main-header > img {
    max-height: 190px;
    padding: .5em;
}


.main-text {
    grid-column: 2/5;
    font-size: 1.25em;
    color: #4d2c02;
}

.info-text {
    padding: 1em;
    font-size: .75em;
    text-indent: .25em;
}


.minmax-wrapper {
    grid-column: 5/6;
    position: relative;
    min-width: 425px;
}


button:focus {
    outline: 0;
}

.button-wrapper {
    margin: 0 1.5em;
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.proc-btn {
    display: inline-block;
    background-color: #a1a1a1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .75em 1em;
    font-size: 1.2em;
}


.proc-btn:hover {
    background-color: #777;
}

.chart-header {
    grid-column: 2/6;
    padding: 1.25em;
    margin: 0 1.5em;
    color: #4d2c02;
    background-color: #fbfbfb;

}

.chart-header:nth-of-type(2) {
    margin-top: 2em;
}


small {
    font-size: 0.75em;
}


.map-style {
    margin-top: 1em;
    grid-column: 2/6;
    justify-self: center;
    width: 100%;
    height: 500px;
}


.nav-btn {
    justify-self: start;
    -ms-flex-item-align: end;
    align-self: end;
    background: transparent;
    border: none;
    color: #b5551e;
    cursor: pointer;

}


.region-wrapper {
    grid-column: 2/6;
    min-height: 650px;
}

.region-style {
    max-height: 100%;
    max-width: 100%;
}


.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/7;
}


.footer {
    grid-column: 1/7;
    min-height: 60px;
    background-color: #fbfbfb;
    text-align: right;
    color: #4d2c02;
}

.footer p {
    font-size: 1.25em;
    padding: 1.2em .5em 0em 0em;
    display: inline-block;
}

.footer a {
    color: inherit;
    padding: 1.2em 1em 0em .5em;
    display: inline-block;
}

.health-form {
    grid-column: 1/7;
    justify-self: center;
    min-width: :530px;
    max-width: 650px;
}

.radio-inline input {
    margin: 0 1em;
}

.links {
    grid-column: 2/5;
    font-size: 1.25em;
}


/*nav button animations*/

@-webkit-keyframes glowing {
    0% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
    }
    50% {
        -webkit-text-shadow: 0 0 2.5px #A41770;
    }
    100% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
    }
}

@keyframes glowing {
    0% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
        text-shadow: 0 0 .25px #FFCC00;
    }
    50% {
        -webkit-text-shadow: 0 0 2.5px #A41770;
        text-shadow: 0 0 2.5px #A41770;
    }
    100% {
        -webkit-text-shadow: 0 0 .5px #FFCC00;
        text-shadow: 0 0 .25px #FFCC00;
    }
}

#down-btn,
#up-btn {
    -webkit-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
