@import url('https://fonts.googleapis.com/css?family=Asset|Barlow|Berkshire+Swash|Pacifico|Roboto');
body {
    font-family: 'roboto', sans-serif;
    background-image: url("/assets/img/tiny_grid.png");
    min-width: 998px;
    min-height: 100vh;
    display: flex;
}

.wrapper {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows:
}

#main-header {
    grid-column: 1/7;
    grid-row: 1;
    display: grid;
    grid: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 1px #f0f0f0;
    box-shadow: 1px 1px 1px #eee;
    background-color: #fbfbfb;
}

#main-header>img {
    max-height: 190px;
    padding: .5em;
}

.main-text {
    grid-column: 2/5;
    grid-row: 2;
    margin: 0 1.25em;
    font-size: 1.2em;
    color: #4d2c02;
}

.info-text {
    grid-column: 2/4;
    padding: 0em 2.5em;
    ;
}


/*minmax-wrapper wont shink back when the browser goes narrow and then back wider - see charts.js notes */

.minmax-wrapper {
    grid-column: 5/6;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    align-self: flex-end;
    position: relative;
    min-width: 425px;
}

button:focus {
    outline: 0;
}

.button-wrapper {
    margin: 0 1.5em;
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.proc-btn {
    display: inline-block;
    background-color: #a1a1a1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .75em 1em;
    font-size: 1.2em;
}

.proc-btn:hover {
    background-color: #777;
}

.chart-header {
    grid-column: 2/6;
    padding: 1.25em;
    margin: 0 1.5em;
    color: #4d2c02;
    background-color: #fbfbfb;
}

.chart-header:nth-of-type(2) {
    margin-top: 2em;
}

small {
    font-size: 0.75em;
}

.map-style {
    margin-top: 1em;
    grid-column: 2/6;
    grid-row: 5;
    justify-self: center;
    width: 100%;
    height: 500px;
}

.nav-btn {
    justify-self: start;
    -ms-flex-item-align: end;
    align-self: end;
    background: transparent;
    border: none;
    color: #b5551e;
    cursor: pointer;
}

.region-wrapper {
    grid-column: 2/6;
    min-height: 650px;
}

.region-style {
    max-height: 100%;
    max-width: 100%;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/7;
}

.footer {
    grid-column: 1/7;
    height: 70px;
    align-self: flex-end;
    background-color: #fbfbfb;
    color: #4d2c02;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-inner {
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
}

.footer p {
    padding: .75em;
    margin: 0;
}

.footer a {
    color: inherit;
    padding: .75em;
}

.health-form {
    grid-column: 1/7;
    justify-self: center;
    min-width: :530px;
    max-width: 650px;
}

.radio-inline input {
    margin: 0 1em;
}

.links {
    grid-column: 1/7;
    text-align: center;
    font-size: 1.15em;
    /*    margin: 1em;*/
}

.links p {
    display: inline;
    margin: 0 1em;
}


/*nav button animations*/

@-webkit-keyframes glowing {
    0% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
    }
    50% {
        -webkit-text-shadow: 0 0 2.5px #A41770;
    }
    100% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
    }
}

@keyframes glowing {
    0% {
        -webkit-text-shadow: 0 0 .25px #FFCC00;
        text-shadow: 0 0 .25px #FFCC00;
    }
    50% {
        -webkit-text-shadow: 0 0 2.5px #A41770;
        text-shadow: 0 0 2.5px #A41770;
    }
    100% {
        -webkit-text-shadow: 0 0 .5px #FFCC00;
        text-shadow: 0 0 .25px #FFCC00;
    }
}

#down-btn,
#up-btn {
    -webkit-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media (max-width: 1150px) {
    .wrapper {
        grid-gap: .5em;
    }
    .info-text {
        grid-column: 2/6;
        font-size: .85em;
        margin: 0;
    }
    .minmax-wrapper {
        grid-row-end: 2;
    }
}